@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #464646;
  /* --background: var(--color-red-400); */
  --foreground: #eeeeee;
  /* --foreground: #575757; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2596be;
  /* --color-secondary: #f97316; */
  --color-secondary: var(--color-red-400);

  /* --color-accent: var(--color-red-400); */
  --color-accent: #f93fb0;
  --font-sans: var(--font-sans);
  --font-feature: var(--font-feature);
  --font-rubik: var(--font-rubik);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  /* background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px,
    0px 0px;
  background-image:
    radial-gradient(42% 53% at 34% 72%, #646464ff 7%, #60647300 100%),
    radial-gradient(74% 86% at 67% 38%, #4c504ef5 24%, #073aff00 100%),
    linear-gradient(177deg, #010d18ff 6%, #b5b3b9ff 40%); */
}

.text-outline {
  @apply drop-shadow-[1px_1px_1px_rgba(0,0,0,0.5)];
}

.text-outline-accent {
  @apply drop-shadow-[0_.8px_.8px_rgba(249,63,176)];
}

.text-outline-theme {
  @apply drop-shadow-[2px_3px_.3px_rgba(249,63,176,.3)];
}

.section {
  @apply w-full px-8 xl:px-0 pb-10 my-28  max-w-7xl mx-auto;
}

.section-title {
  @apply drop-shadow-[3px_3px_1px_rgba(37,150,190)] text-neutral-300 font-bold text-4xl  uppercase md:text-6xl lg:text-7xl;
}
.badge-title {
  @apply drop-shadow-[3px_3px_1px_rgba(37,150,190)] text-accent/80 font-bold  uppercase;
}
.feature-title-subtle {
  @apply drop-shadow-[1px_1px_1px_rgba(249,63,176)] text-neutral-300 font-bold uppercase;
}
.feature-title {
  @apply drop-shadow-[2px_2px_1px_rgba(249,63,176)] text-neutral-300 font-bold uppercase;
}
.outline-title {
  @apply drop-shadow-[1px_1px_1px_rgba(0,0,0,.5)] text-neutral-300 font-bold uppercase;
}
.section-title-sm {
  @apply drop-shadow-[2px_2px_1px_rgba(249,63,176)]  text-neutral-300 font-bold text-5xl uppercase;
}
/* .section-title {
  @apply text-3xl font-feature font-semibold tracking-[6] uppercase md:text-4xl lg:text-5xl;
} */

.theme-button {
  @apply bg-accent/90 font-semibold hover:bg-accent  border-2 transition-colors duration-300 ease-in-out rounded-full px-6 py-2 text-neutral-100;
}

.square-button {
  @apply w-fit my-2 mb-1 px-6 rounded-none text-neutral-600 bg-neutral-300 py-1 text-center  outline transition-all duration-300 hover:bg-accent outline-neutral-400 hover:text-white lg:text-lg;
}

.rounded-button {
  @apply bg-primary hover:bg-primary/80 border-2 transition-colors duration-300 ease-in-out rounded-2xl my-2 px-3 py-1 text-neutral-100;
}

.pdf-button {
  @apply w-full my-4 mb-1 px-6 rounded-xs text-neutral-100 bg-accent py-1 text-center  outline-3  transition-all duration-300 hover:bg-primary  border-2 border-pink-200 outline-pink-500 hover:border-cyan-500 hover:outline-cyan-700 lg:text-xl;
}

.tag {
  @apply text-neutral-100 px-2 text-[.6rem] font-semibold tracking-[-.5] rounded-2xl bg-neutral-500 py-0.5 hover:bg-accent transition-all duration-300 border uppercase border-neutral-400;
}

.active-tag {
  @apply text-lg text-accent  hover:text-primary underline underline-offset-6 decoration-accent decoration-2;
}

.inactive-tag {
  @apply text-lg  flex items-center hover:underline underline-offset-6 decoration-accent decoration-2 hover:text-foreground  transition-all duration-200;
}
.menu-item {
  @apply text-4xl md:text-5xl lg:text-5xl border-b-4 text-accent border-primary hover:border-accent hover:text-secondary w-fit transition-all duration-300 ease-in-out;
}
.inset-menu-item {
  @apply text-3xl  border-b-4 text-accent border-background hover:border-accent hover:text-secondary w-fit transition-all duration-300 ease-in-out;
}

.row-centered {
  @apply flex items-center justify-center;
}

.col-centered {
  @apply flex items-center justify-center flex-col;
}

a {
  @apply transition-all duration-300 hover:text-inherit/40 text-inherit;
}

.prose {
  @apply max-w-7xl p-0 m-0;
}
/* .prose blockquote {
  @apply mx-4 my-12 border-t border-r-0 border-b border-l-0 px-4 py-6 text-center text-xl font-semibold text-inherit italic md:mx-10 md:px-8 md:text-2xl;
} */

.prose a {
  @apply text-secondary no-underline hover:text-primary;
}
/* :hover .prose  a{
  @apply underline 
} */

.prose h3,
.prose h4,
.prose h5 {
  @apply mt-6  text-neutral-300;
}

.prose strong {
  @apply text-white font-bold;
}

.prose ul {
  @apply w-fit  px-0;
}
.prose ul > li {
  @apply my-1 list-none;
}

.prose ul * {
  @apply mx-0 my-1 text-neutral-50 font-normal text-base sm:text-lg md:text-xl lg:text-2xl sm:px-4;
}

.prose img {
  @apply my-6;
}

.animate-shadow {
  @apply drop-shadow-sm hover:drop-shadow-xl hover:-translate-y-0.5 transition-all duration-300;
}
